@import-normalize; /* bring in normalize.css styles */
a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
      "header header"
      "nav content"
      "footer footer";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.wrapper__content {
  grid-area: content;
  background: black;
  color: antiquewhite;
  text-align: center;
}







