.input {
  padding: 10px 15px 10px 10px;

}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap__input {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.formSummaryError {
  border: 2px red solid;
  padding: 5px;
  color: red;
}