 aside {
   display: flex;
   flex-direction: column;
   background-color: black;
   width: 100%;
   height: min-content;
   padding: 15px;
   .item {
     list-style-type: none;
     &:not(:last-child) {
       padding-bottom: 10px;
     }
   }
   .nav {
     display: flex;
     justify-content: center;
     grid-area: nav;
     background: black;
     color: antiquewhite;
     padding: 0px 0 15px 0;
   }
   .friends {
     display: flex;
     justify-content: center;
     gap: 10px;
     color: #ffffff;
     text-align: center;
     .avatar {
       width: 50px;
       border-radius: 15px;
     }

   }
 }


