 aside {
   display: flex;
   justify-content: center;
   align-self: flex-start;
   background-color: black;
   width: 100%;
   .item {
     list-style-type: none;
     &:not(:last-child) {
       padding-bottom: 10px;
     }
   }
   .nav {
     grid-area: nav;
     background: black;
     color: antiquewhite;
   }
 }


