.dialogs {
  color: #ffffff;
  display: flex;
  gap: 30px;
  padding: 30px;
  .dialogs-items {
    display: flex;
    flex-direction: column;
  }
  .item {
    color: green;
    cursor: pointer;
    line-height: 150%;
    &.active {
      border: solid 2px goldenrod;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
  .messages {
    display: flex;
    flex-direction: column;
    .message {
      &:not(:last-child) {
        padding-bottom: 15px;
      }
    }
  }
}
